<div class="constructor">
  <h1 class="constructor-title">Create your <span class="pink-highlight">gift</span></h1>

  <form #constructorForm
        class="constructor-form"
  >

    <div class="constructor-form-item">
      <label class="constructor-form-item-label" for="wishTo">Capital</label>
      <input class="constructor-form-item-input"
             type="text"
             id="wishTo"
             name="wishTo"
             [(ngModel)]="wishTo"
             (change)="checkFormValidity()"
             required
      />
    </div>

    <div class="constructor-form-item">
      <label class="constructor-form-item-label" for="wishText">Foreword</label>
      <textarea class="constructor-form-item-input"
                id="wishText"
                name="wishText"
                [(ngModel)]="wishText"
                (change)="checkFormValidity()"
                required
      ></textarea>
    </div>

    <div class="constructor-form-item">
      <label class="constructor-form-item-label" for="wishFrom">From</label>
      <input class="constructor-form-item-input"
             type="text"
             id="wishFrom"
             name="wishFrom"
             [(ngModel)]="wishFrom"
             (change)="checkFormValidity()"
             required
      />
    </div>

    <div class="constructor-form-item">
      <label class="constructor-form-item-label">Cards</label>

      <div class="cards-container">
        <lcb-card *ngFor="let card of cards"
                  [card]="card"
                  (uploadStarted)="onCardUploadStarted()"
                  (uploadEnded)="onCardUploadEnded()"
                  (cardDeleted)="deleteCardById($event)"
        ></lcb-card>
      </div>

      <button class="add-card"
              (click)="addEmptyCard()"
              (keydown.enter)="addEmptyCard()"
      >
        +
      </button>
    </div>

    <button class="submit-button"
            (click)="onSubmit($event)"
            [disabled]="isFormInvalid"
    >
      Generate
    </button>
  </form>
</div>
