<div class="content">
  <div class="block">
    <h2>This project was made with efforts of</h2>
    <div class="devs">
      <a href="https://github.com/Allemeshov" target="_blank"><span>Alexander Lemeshov</span></a>
      <a href="https://github.com/bugattiloh" target="_blank"><span>Grigory Bagiyan</span></a>
      <span>and</span>
      <a href="https://github.com/sampletext32" target="_blank"><span>Egor Sinitsa</span></a>
    </div>
  </div>
  <hr/>
  <div class="block">
    <h3>This project is open-source</h3>
    <a href="https://github.com/lovely-card-builder" target="_blank"><span>Github: Lovely Card Builder</span></a>
  </div>
  <hr/>
  <div class="block">
    <h2>What we used to create the project</h2>
    <h3>Backend</h3>
    <ul>
      <li>ASP.NET Core</li>
      <li>Postgres</li>
      <li>Seq</li>
      <li>Nginx</li>
      <li>Docker</li>
      <li>Deployed on REG.RU VPS</li>
    </ul>
    <h3>Frontend</h3>
    <ul>
      <li>Angular</li>
      <li>SCSS</li>
      <li>Rx.js</li>
      <li>THREE.JS</li>
    </ul>
    <h3>Graphics</h3>
    <ul>
      <li>Free stock images</li>
      <li>Photoshop</li>
      <li>Blender</li>
    </ul>
  </div>
  <div class="block">
    <h3>Leaves animation using THREE.JS</h3>

    <h3>Took a free stock image</h3>
    <img src="assets/images/how/leaves-1.png" alt="leaves-1"/>
    <h3>Cleared background and cropped</h3>
    <img src="assets/images/how/leaves-2.png" alt="leaves-2"/>
    <img src="assets/images/how/leaves-3.png" alt="leaves-3"/>
    <img src="assets/images/how/leaves-4.png" alt="leaves-4"/>
    <h3>Created 3d models with blender</h3>
    <h5>Used Import-Export: Import Images as Planes</h5>
    <h5>Exported in .glb</h5>
    <img src="assets/images/how/leaves-5.png" alt="leaves-5"/>
    <h3>Accidentally found a cool animation</h3>
    <img src="assets/images/how/leaves-6.png" alt="leaves-6"/>

  </div>

  <div class="block">
    <h3>Backend is built with</h3>
    <h5>UseCase Adapter Design Pattern</h5>
    <h5>CQRS with MediatR</h5>
  </div>
</div>
