@use '~src/assets/styles/colors/colors' as colors;
@use '~src/assets/styles/keyframes/fade-in.animations' as fade-in;

.preview-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: colors.$pink-medium;

  padding-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1, h2 {
    font-family: 'Montserrat', cursive;
    text-align: center;
    line-height: 2rem;
    font-weight: 300;
  }

  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
    @include fade-in.fade-in(.6s, 10s);
  }

  .loader {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 4px solid #ccc;
    border-top-color: #1e90ff;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}



.preview {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 5vh;

  font-family: 'Montserrat', cursive;

  #intro-header {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    text-align: center;
  }

  #foreword {
    padding: 0 2rem;
    font-size: 1rem;
    font-weight: 400;
  }

  .cards-container {
    padding: 0 2rem;
  }
}
