<div class="preview-loader" *ngIf="!areImagesLoaded">
  <h1>Your card is being prepared. Please, wait for a while...</h1>
  <h2>If loading takes too much time, try <span class="pink-highlight">reloading</span>< the page.</h2>
  <div class="loader"></div>
</div>

<div class="preview"
     [class.preview--animated]="areImagesLoaded"
>

  <h1 class="sr-only">Love card <span aria-hidden="true">{{ postcardId }}</span></h1>

  <h2 id="intro-header">
    {{ postcard.wishTo }}
  </h2>

  <h3 id="foreword">
    {{ postcard.wishText }}
  </h3>

  <main id="preview-cards-container" class="cards-container">
    <div [id]="card.fileName + card.title" class="card" *ngFor="let card of postcard.images">
      <lcb-image-frame [fileUrl]="card.fileName"></lcb-image-frame>
    </div>
  </main>

</div>
