@use '~src/assets/styles/keyframes/fade-in.animations' as fade-in;
@use '~src/assets/styles/vars/vars.offsets' as offsets;


@keyframes slide-to-corner {
  to {
    top: 160px;
    scale: 0.7;
    transform: translateX(-10%);
  }
}

.introduction-container {
  font-family: 'Montserrat', serif;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .header-wrapper {

    .introduction-title {
      text-align: center;

      &:not(.invisible) {
        transition: .65s;
        z-index: 999;
        white-space: nowrap;
        position: fixed;
        top: 30vh;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
      }

      &--moved {
        top: 160px !important;
        scale: 0.7;
        transform: translateX(-10%) !important;
      }
    }
  }

  .introduction-description {
    padding: 0 2rem;
    text-align: center;
    font-weight: 300;
    @include fade-in.fade-in(0.6s, 2.5s)
  }

  .navigate-below-wrapper {
    @include fade-in.fade-in-from('top', 0.3s, 4s);
    margin-top: 2.5rem;
    height: 50vw;
    display: flex;
    justify-content: center;

    img {
      cursor: pointer;
      height: 100%;
      transform: rotateZ(-45deg);
      width: auto;
    }
  }
}
