@use '~src/assets/styles/keyframes/fade-in.animations' as fade-in;

.introduction-container {
  font-family: 'Montserrat', serif;

  .introduction-title {
    text-align: center;
  }

  .introduction-description {
    padding: 0 2rem;
    text-align: center;
    font-weight: 300;
    @include fade-in.fade-in(0.6s, 2.5s)
  }

  .navigate-below-wrapper {
    @include fade-in.fade-in-from('top', 0.3s, 4s);
    margin-top: 2.5rem;
    height: 50vw;
    display: flex;
    justify-content: center;

    img {
      cursor: pointer;
      z-index: -5;
      height: 100%;
      transform: rotateZ(-45deg);
      width: auto;
    }
  }
}
