@use 'assets/styles/colors/colors' as colors;

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/normalize.css/normalize.css";

html {
  overflow: hidden;
}

html, body {
  box-sizing: border-box;
  min-height: 100vh;
  background: colors.$bgMain;
}

.pink-highlight {
  color: colors.$pink-dark;
  font-weight: bold;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.sr-only {
  position: fixed;
  left: -99999999rem;
  opacity: 0;
  top: 0;
  max-width: 1px;
  max-height: 1px;
}
