$big-padding: 2rem;
$small-padding: 1rem;

@mixin padding-on-sides() {
  padding-right: $big-padding !important;
  padding-left: $big-padding !important;
  @media only screen and (max-width: 425px) {
    padding-right: $small-padding !important;
    padding-left: $small-padding !important;
  }
}
